Repository rileyhilliard/agentrc: changes, and which lefthook commands are due for each by the changed paths.
All: biome, typecheck

biome:
  run: bunx biome check --write --no-errors-on-unmatched {staged_files}
  stage_fixed: true

typecheck:
  run: bun run typecheck

Address code review: dynamic version, pin CI bun, add node engine
  .github/workflows/ci.yml
  package.json
  src/cli.ts
Due: biome, typecheck

feat(utils): extract shared filesystem helpers into utils module
  src/utils.ts
Due: biome, typecheck

feat(version): add version module with build-time injection support
  src/version.ts
Due: biome, typecheck

feat(core): add agents to IR, manual scope, and model/tools frontmatter
  src/core/frontmatter.ts
  src/core/ir.ts
  src/core/loader.ts
Due: biome, typecheck

feat(adapters): upgrade all adapters for agents, native commands, and rule files
  src/adapters/claude.ts
  src/adapters/cline.ts
  src/adapters/codex.ts
  src/adapters/copilot.ts
  src/adapters/cursor.ts
  src/adapters/gemini.ts
  src/adapters/generic-markdown.ts
  src/adapters/windsurf.ts
Due: biome, typecheck

feat(importers): add Claude Code importer for migrate command
  src/importers/claude.ts
  src/importers/types.ts
  src/importers/utils.ts
Due: biome, typecheck

feat(commands): overhaul migrate, update validate/init/writer for agents
  src/cli.ts
  src/commands/init.ts
  src/commands/migrate.ts
  src/commands/validate.ts
  src/output/writer.ts
Due: biome, typecheck

feat(scripts): add build scripts with version injection and binary compilation
  scripts/build-binaries.ts
  scripts/build.ts
Due: biome, typecheck

test: add tests for agents, importers, and commands; update adapter/core tests
  tests/adapters/all-adapters.test.ts
  tests/adapters/claude.test.ts
  tests/adapters/cline.test.ts
  tests/adapters/codex.test.ts
  tests/adapters/copilot.test.ts
  tests/adapters/cursor.test.ts
  tests/adapters/windsurf.test.ts
  tests/commands/build.test.ts
  tests/commands/clean.test.ts
  tests/commands/init.test.ts
  tests/commands/inspect.test.ts
  tests/commands/migrate.test.ts
  tests/commands/validate.test.ts
  tests/core/frontmatter.test.ts
  tests/core/ir-builder.test.ts
  tests/core/ir.test.ts
  tests/core/loader.test.ts
  tests/helpers.ts
  tests/importers/claude.test.ts
  tests/smoke.test.ts
Due: biome, typecheck

test(fixtures): add agent fixture, nested skill references, update rule frontmatter
  tests/fixtures/full/.agentrc/agents/reviewer.md
  tests/fixtures/full/.agentrc/rules/code-style.md
  tests/fixtures/full/.agentrc/rules/typescript-strict.md
  tests/fixtures/full/.agentrc/skills/debugging/references/advanced-techniques.md
  tests/fixtures/minimal/.agentrc/rules/typescript.md
Due: none

chore(package): add metadata, npm keywords, coverage scripts, and build commands
  bunfig.toml
  package.json
Due: biome

ci: add release workflow, enable coverage in CI, ignore bin/ output
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
Due: none

docs: rewrite README with full feature docs, add CONTRIBUTING guide
  CONTRIBUTING.md
  README.md
  docs/adapters.md
  docs/architecture.md
  docs/cli.md
  docs/configuration.md
  docs/getting-started.md
Due: none

refactor(adapters): extract skill file emission into shared helper
  src/adapters/claude.ts
  src/adapters/codex.ts
  src/adapters/cursor.ts
  src/adapters/gemini.ts
  src/adapters/shared.ts
Due: biome, typecheck

refactor(adapters): remove misleading sorted alias for ir.rules
  src/adapters/claude.ts
  src/adapters/cline.ts
  src/adapters/codex.ts
  src/adapters/copilot.ts
  src/adapters/cursor.ts
  src/adapters/gemini.ts
  src/adapters/generic-markdown.ts
  src/adapters/windsurf.ts
Due: biome, typecheck

fix: use correct singular keys for bun coverageThreshold
  bunfig.toml
Due: none

ci: add test runner to lefthook pre-commit hooks
  lefthook.yml
Due: none

ci: add CodeRabbit config for AI-powered PR reviews
  .coderabbit.yaml
Due: none

update
  README.md
Due: none

fix(adapters): omit hooks for platforms that don't support them
  README.md
  src/adapters/cline.ts
  src/adapters/codex.ts
  src/adapters/copilot.ts
  src/adapters/cursor.ts
  src/adapters/gemini.ts
  src/adapters/generic-markdown.ts
  src/adapters/shared.ts
  src/adapters/windsurf.ts
  tests/adapters/all-adapters.test.ts
  tests/adapters/cline.test.ts
  tests/adapters/codex.test.ts
  tests/adapters/copilot.test.ts
  tests/adapters/cursor.test.ts
  tests/adapters/windsurf.test.ts
Due: biome, typecheck

feat(adapters): inline skill reference files for platforms without progressive disclosure
  src/adapters/cline.ts
  src/adapters/shared.ts
  src/adapters/windsurf.ts
  tests/adapters/all-adapters.test.ts
  tests/adapters/claude.test.ts
  tests/adapters/cline.test.ts
  tests/adapters/codex.test.ts
  tests/adapters/copilot.test.ts
  tests/adapters/windsurf.test.ts
Due: biome, typecheck

Path conditions:
  biome: any of: *.{ts,tsx,js,jsx,json}
  typecheck: any of: *.ts
